If Statement

In [ ]:
age=31
if age > 18:
    print("You are allowed to vote in the elections")

You are allowed to vote in the elections

If-else Statement

In [ ]:
age = int(input("Enter your Age: "))
if age >= 18 :
   print("You are eligible for voting")
else:
   print("you are not eligible for voting")

you are not allowed to vote in the elections

elif statements

In [ ]:
age = 20
if age < 13 :
    print("You are a child")
elif age < 18 : 
    print(" you are a teenager")
else :
    print("You are an adult")

You are a adult

Nested conditional Statement

In [ ]:
num =int(input("Enter a number: "))
if num>0:
    print("the number is positive")
    if num%2==0:
        print(f"{num} is even")
    else:
         print(f"{num} is odd")
else:
    print("the number is negative")

the number is positive
2 is even

In [14]:
# example
year = int(input("enter year: "))
if year % 4 ==0 :
    if year % 100 == 0:
        if year % 400 ==0:
            print(year,"is leap year")
        else:
            print(year,"is not a leap year")
    else:
        print(year,"is a leap year")
else:
    print(year,"is not a leap year")

2024 is a leap year

Loops

In [19]:
# for loop
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [21]:
str= "Malayalam"
for i in str:
    print(i)

M
a
l
a
y
a
l
a
m

In [23]:
# While Loop
count = 0
while count < 5 :
    print(count)
    count=count+1

0
1
2
3
4

In [25]:
#  break statement
for i in range(1,10):
    if i == 6:
        break
    print(i)

1
2
3
4
5

In [28]:
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [30]:
'''pass
The pass statement is a null operation; it does nothing.'''
for i in range(5):
    if i % 2 == 0:
        pass
    print(i)

0
1
2
3
4

In [33]:
# Nested Loop
for i in range(3):
    for j in range(2):
        print(f"i: {i} and j: {j}")

i: 0 and j: 0
i: 0 and j: 1
i: 1 and j: 0
i: 1 and j: 1
i: 2 and j: 0
i: 2 and j: 1

In [39]:
n=10
sum=0
count=1
while count<=n:
    sum=sum+count
    count=count+1
print("THe sum first 10 natural numbers",sum)

THe sum first 10 natural numbers 55

In [40]:
n=10
sum=0
for i in range(11):
    sum=sum+i
print(sum)

55

In [115]:
for i in range(10):
    i *=2
    print(i*'*',end="")
    for j in range(2):
        print('**')
    # print()

**
**
****
**
******
**
********
**
**********
**
************
**
**************
**
****************
**
******************
**
********************
**

In [166]:
row=10
for i in range(row,0,-1):
    print(" "* (row-i),end=" ")
    print(i*' * ')

  *  *  *  *  *  *  *  *  *  *
   *  *  *  *  *  *  *  *  *
    *  *  *  *  *  *  *  *
     *  *  *  *  *  *  *
      *  *  *  *  *  *
       *  *  *  *  *
        *  *  *  *
         *  *  *
          *  *
           *