List

In [1]:
list=[]
print(type(list))

<class 'list'>

In [5]:
names=["tom","vahid",1,4,6.2]
print(names[-1])

6.2

In [42]:
# Accessing List Elements
fruits=["apple","banana","cherry","kiwi","guava"]
print(fruits[0:-1:2])

['apple', 'cherry']

In [43]:
# modifying The list element
fruits[1]="watermelon"
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'guava']

In [44]:
# List Method
fruits.append("orange")#Add an item to the end
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'guava', 'orange']

In [46]:
fruits.insert(3,"banana")
print(fruits)

['apple', 'watermelon', 'cherry', 'banana', 'banana', 'kiwi', 'guava', 'orange']

In [ ]:
fruits.remove("banana")         #Removing first occurance of an item
print(fruits)

['apple', 'watermelon', 'cherry', 'banana', 'kiwi', 'guava', 'orange']

In [ ]:
poped_item=fruits.pop()         #Remove and return the last element
print(poped_item)
print(fruits)

orange
['apple', 'watermelon', 'cherry', 'banana', 'kiwi', 'guava']

In [49]:
index=fruits.index("cherry")
print(index)

2

In [50]:
fruits.insert(2,"banana")
print(fruits.count("banana"))

2

In [52]:
fruits.sort()
fruits

['apple', 'banana', 'banana', 'cherry', 'guava', 'kiwi', 'watermelon']

In [53]:
fruits.reverse()
fruits

['watermelon', 'kiwi', 'guava', 'cherry', 'banana', 'banana', 'apple']

In [ ]:
fruits.clear()      #Remove all items from the list 
print(fruits)

In [55]:
# slicing list
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [56]:
# Iterating over the list 
for num in numbers:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [61]:
# Iterating with index
for index,num in enumerate(numbers):
    print(index,num)

0 1
1 2
2 3
3 9
4 5
5 6
6 7
7 8
8 9
9 10

In [65]:
# Iterating with index
for index,num in enumerate(numbers):
    if index == 3:
        numbers[index] = 9
print(numbers)

[1, 2, 3, 9, 5, 6, 7, 8, 9, 10]

In [68]:
# list comprehension
lst=[]
for x in range(10):
    lst.append(x**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [70]:
[x**2 for x in range(12)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [71]:
even_number=[num for num in range(10) if num%2==0]
print(even_number)

[0, 2, 4, 6, 8]

In [76]:
# nested list comprehension
ls1=[1,2,3,4]
ls2=['a','b','c','d']
pair=[[i,j] for i in ls1 for j in ls2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [77]:
# list comprehension with function call
words=["hello","hai","python","world","List"]
length=[len(word) for word in words]
print(length)

[5, 3, 6, 5, 4]

In [3]:
ls=list(range(1, 21))
print(ls)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Tuple in python

In [4]:
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [6]:
number=tuple([1,2,3,4,5])
print(number)

(1, 2, 3, 4, 5)

In [7]:
mixed_tuple=(1,'hello',3.5,True)
concat=mixed_tuple+number
print(concat)

(1, 'hello', 3.5, True, 1, 2, 3, 4, 5)

In [10]:
mixed_tuple*3

(1, 'hello', 3.5, True, 1, 'hello', 3.5, True, 1, 'hello', 3.5, True)

In [13]:
# Immutable nature of tuples
# tuples are imjmutable, meaing their elements cannot be changed once assigned
print(number.count(2))
print(number.index(4))

1
3

In [14]:
# packing and unpacking tuple
# packing
packed_tuple=1,"hello",3.14
print(packed_tuple)

(1, 'hello', 3.14)

In [15]:
# unpacking tuple
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
hello
3.14

In [22]:
# unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [25]:
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print("Matrix:")
for row in matrix:
    print(row)
print(f"Element at second row and third column: {matrix[1][2]}")

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at second row and third column: 6

In [28]:
tpl1 = (1, 2, 3)
tpl2 = (4, 5, 6)
concatenated = tpl1 + tpl2
print(concatenated)

(1, 2, 3, 4, 5, 6)

Set in python

In [49]:
# create a set 
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [44]:
st=set([2,4,6,8,10,4,6])
print(st)

{2, 4, 6, 8, 10}

In [45]:
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 7}

In [46]:
my_set.remove(4)
print(my_set)

{1, 2, 3, 5, 7}

In [47]:
removed_set = my_set.pop()
print(removed_set)
print(my_set)

1
{2, 3, 5, 7}

In [48]:
my_set.clear()
print(my_set)

set()

In [51]:
print(3 in my_set)
print(9 in my_set)

True
False

In [62]:
set1={1,2,3,4,6,5}
set2={5,6,8,9,3}
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 8, 9}

In [56]:
intersection_set=set1.intersection(set2)
print(intersection_set)

{3, 5, 6}

In [60]:
set1.difference(set2)

{1, 2, 4}

In [61]:
set1.symmetric_difference(set2)

{1, 2, 4, 8, 9}

In [65]:
set1 = {1,2,3,4,5}
set2 = {3,4,5}
print(set1.issubset(set2))
print(set1.issuperset(set2))

False
True

In [66]:
# counting unique words in text
text = "In this tutorial we are discussing about sets"
words= text.split()
#convert list of words to set to get unique words
unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'we', 'In', 'sets', 'discussing', 'this', 'tutorial', 'are', 'about'}
8

In [67]:
fs = frozenset(range(1, 6))
print(fs)

frozenset({1, 2, 3, 4, 5})

Dictionaries

In [ ]:
student={"name":"jerry","age":9,"grade":"A"}
print(student)

{'name': 'jerry', 'age': 9, 'grade': 'A'}

In [ ]:
# Accessing dictionary element
print(student["grade"])
# Accessing dictionary using get method
print(student.get("name"))
print(student.get("last_name"))
print(student.get("last_name","Not Available"))

A
jerry
None
Not Available

In [ ]:
student["age"]=12
print(student)
student["Address"]='India'
print(student)

{'name': 'jerry', 'age': 12, 'grade': 'A'}
{'name': 'jerry', 'age': 12, 'grade': 'A', 'Address': 'India'}

In [ ]:
del student["grade"]
print(student)

{'name': 'jerry', 'age': 12, 'Address': 'India'}

In [ ]:
keys=student.keys()
print(keys)
values=student.values()
print(values)
items=student.items()
print(items)

dict_keys(['name', 'age', 'Address'])
dict_values(['jerry', 12, 'India'])
dict_items([('name', 'jerry'), ('age', 12), ('Address', 'India')])

In [ ]:
for keys in student.keys():
    print(keys)

name
age
Address

In [ ]:
for value in student.values():
    print(value)

jerry
12
India

In [ ]:
for keys,value in student.items():
    print(f"{keys}:{value}")

name:jerry
age:12
Address:India

In [91]:
# nested dictionary
students={
    "student1":{"name":"tom","age":23},
    "student2":{"name":"jack","age":41},

}
print(students)

{'student1': {'name': 'tom', 'age': 23}, 'student2': {'name': 'jack', 'age': 41}}

In [93]:
print(students["student2"]["name"])

jack

In [94]:
students.items()

dict_items([('student1', {'name': 'tom', 'age': 23}), ('student2', {'name': 'jack', 'age': 41})])

In [98]:
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'tom', 'age': 23}
name:tom
age:23
student2:{'name': 'jack', 'age': 41}
name:jack
age:41

In [104]:
# dictionary comphrehansion
squere={x:x**2 for x in range(1,10) if x%2==0}
print(squere)

{2: 4, 4: 16, 6: 36, 8: 64}

In [ ]:
numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}
for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

<class 'dict'>
{1: 1, 2: 2, 3: 3, 4: 4}

In [114]:
# Merge 2 dictionary into 1
dict1={"a":1,"b":2}
dict2={"b":3,"c":4}
Merge_dict={**dict1,**dict2}
print(Merge_dict)

{'a': 1, 'b': 3, 'c': 4}

In [115]:
multiples = {i: [i * j for j in range(1, 6)] for i in range(1, 6)}
print(multiples)

{1: [1, 2, 3, 4, 5], 2: [2, 4, 6, 8, 10], 3: [3, 6, 9, 12, 15], 4: [4, 8, 12, 16, 20], 5: [5, 10, 15, 20, 25]}

In [116]:
tuple_dict = {i: (i, i**2) for i in range(1, 6)}
print(tuple_dict)

{1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}