In [1]:
a="Hello"
print(a)

Hello

In [4]:
print(type("hi"))
s=2
type(s)

<class 'str'>

int

Type convertion

In [6]:
age=17
print(type(age))

age_str=str(age)
print(type(age_str))

<class 'int'>
<class 'str'>

In [ ]:
# Input function

age=int(input("What is your age: "))
print(age)

23

In [1]:
'''simple calcularor'''
num1=float(input("Enter first number"))
num2=float(input("Enter second number"))

add= num1+num2
sub= num1-num2
div=num1/num2
multi=num1*num2

print("Sum: ",add)
print("Difference: ",sub)
print("Product: ",multi)
print("Quotient: ",div)

Sum:  30.0
Difference:  20.0
Product:  125.0
Quotient:  5.0

In [ ]:
#                       Data Types
#   Integer
a=6
print(a)
# Float 
b=7.3
print(b)
#    String 
c="hai"
print(c)
#   Boolean
type(True)

6
7.3
hai

bool

Operators

In [3]:
# Arithmetic Operations

a=10
b=5
add=a+b
sub=a-b
div=a/b
mult=a*b
floor_div=a//b
modules=a%b
exponential=a**b

print(add)
print(sub)
print(div)
print(mult)
print(floor_div)
print(modules)
print(exponential)

15
5
2.0
50
2
0
100000

In [ ]:
# Comparison Operators      ==, !=, >, <, >=, <=
str1="focus"
str2="Focus"


str1==str2
str1!=str2

num=24
num0=32
num0>num

True

In [ ]:
# Logical operators     And, Not, OR
x=False
y=True
print(x and y)
print(x or y)
print(not y)

False
True
False